<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="wrap">
    <a th:href="@{/post}">글쓰기</a>

    <table>
        <thead>
        <tr>
            <th class="one wide">번호</th>
            <th class="ten wide">글</th>
            <th class="two wide">체크</th>
        </tr>
        </thead>

        <tbody>
        <!-- CONTENTS !-->
        <tr th:each="todo : ${todoList}">
            <td>
                <span th:text="${todo.id}"></span>
            </td>
            <td>
                <a th:href="@{'/post/' + ${todo.id}}">
                    <span th:text="${todo.text}"></span>
                </a>
            </td>
            <td>
                <span th:text="${todo.done}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>